:root {
    --bg-color: #fff;
    --text-color: #000;
}

[data-theme="dark"] {
    --bg-color: #000;
    --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Lucida Sans", sans-serif;
  font-size: 20px;
  transition: background-color 1s, color 1s;
}

#bgr-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

#bgr-mnu {
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  cursor: pointer;
  height: 0px;
  overflow: hidden;
  position: fixed;
  right: 20px;
  top: 60px;
  transition: 0.5s;
}
